body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #e2edff;

}

header {
  background:url(../images/logo-lotto.png) no-repeat, url(../images/logo-lotto.png) no-repeat right;
  background-color: white;
  padding:.5em;
  font-size: x-large;
  color: navy;
  border-radius:25px;

}

input[type="text"]:invalid {
    color: red;
    border-color:red;
}